{% extends "base.html" %}
{% block tab_content %}
Jennifer
{% endblock %}
{% block page_content %}
{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Jennifer Villalba</a></h1>
            <h2><a>Cute assss fuck :)</a></h2>
        </div>

    </body>
</html>

{% endblock %}