{% extends "base.html" %}
{% block title %}
Jennifer
{% endblock %}

{% block page_content %}
{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
         <link rel="stylesheet" href="/static/css/style.css? {% now "U" %}">
     <style>
    </style>
    </head>

    <body>

        <br/>
        <div class="container">
            <img src="{% static 'css/yoo.jpg' %}" alt="Just Myself" style="width:300px;height:300px;">
            <h1><a href="/">Jennifer Villalba</a></h1>
            <h2><a>Cute assss fuck :)</a></h2>
            <p>
                I am creating this blog just because its cute <3
                Will learn how to make this page pretty
            </p>

        </div>

    </body>
</html>

{% endblock %}